/* Placeholder for log in button. I want to make it transparent and add some sort of art showing an outline of a person and maybe put a sign up button next to it */
nav button {
    cursor: pointer;
    position: relative;
    right: -200px;
    font-size: 25px;
}

/* Start of the slide show container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgb(0, 0, 0, 0.8);
}

/* Start of body */
#hero {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
}