/* Menu styling */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}

.menu {
    font-size: 25px;
    text-decoration: none;
}

.menu::after {
    content: '';
    position: relative;
    left: 50%;
    top: 5px;
    width: 0px;
    height: 1px;
    display: block;
    background: darkblue;
    transition: all 600ms;
}

.menu:link {
    color: black;
    transition: 2s;
}

.menu:visited {
    color: gray;
}

.menu:hover {
    color: darkblue;
}

.menu:hover::after {
    width: 100%;
    left: 0;
}

.menu:active {
    color: red;
    filter: brightness(150%);
}

/* Slideshow styling */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
}

.next {
    right: 0;
}

/* Start of body */
#hero {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
}