@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes slideInRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

.explain, p {
    font-size: 30px;
    text-wrap: balance;
    width: 100%;
    display: flex;
    margin: auto;
    padding-top: 15%;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    animation: ease 1400ms 0s 1 slideInLeft;
}
/* .explain{
  animation: ease 1400ms 0s 1 slideInLeft;
} */

.explain {
    font-size: 50px;
    position: relative;
    padding-top: 25%;
    justify-content: center;
}


.circle {
    position: absolute;
    left: 3%;
    height: 700px;
    width: 700px;
    background: #B6D8F280;
    border-radius: 50%;
    animation: ease 1400ms 0s 1 slideInLeft;
}
.circleRight {
  position: absolute;
  right: 3%;
  height: 700px;
  width: 700px;
  background: #B6D8F280;
  border-radius: 50%;
  animation: ease 1400ms 0s 1 slideInRight;
}

footer {
  position: absolute;
  right: 2px;
  bottom: 0px;
}
#woman {
  /* position: absolute; */
}

#headphones {
  position: absolute;
  bottom: 9px;
  z-index: 1;
  animation: ease-in-out 1000ms 0s 1 fromTop;
}

#womanWithHeadphones {
  /* position: absolute; */
  /* margin: auto; */
  position: absolute;
  top: 73%;
  /* left: 50%; */
  left: 75%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

@keyframes fromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}


  /* }
  header {
    animation: 1s ease-out 0s 1 slideInLeft;
    background: #666;
    padding: 40px;
  }
  body {
    margin: 0;
    font-family: "Segoe UI", Arial, Helvetica, Sans Serif;
  }
  a {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
  } */