@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes fromTop {
  0% {
    transform: translateY(-120%);
  }
  100% {
    transform: translateY(0);
    
  }
}

/* .register {
  position: relative;
  left: 20%;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  margin-left: 10px;
  border-radius: 30px;
  border: 1px solid white;
  background: linear-gradient(to left, white 50%, #218B8280 50%)right;
  transition: 750ms ease-in-out;
  background-size: 200%;
  width: 28mm; 
  height: 12mm;

} */

.explain, #explained {
    animation: ease-out 1500ms 0s 1 fromTop;
    padding-top: 8%; 
    text-align: center;
    text-wrap: balance;
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
}

.explain {
  position: relative;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
}


.circle {
  height: 700px;
  width: 700px;
  background: #9AD9DB;
  border-radius: 50%;
  animation: ease-in-out 1000ms 0s 1 fromTop;
  box-shadow: 0 0 10000px #9AD9DB;
}

.container {
  display: grid;
  place-items: center;
  height: 8em;
}


#headphones {
  position: absolute;
  bottom: 9px;
  z-index: 1;
  animation: ease-in-out 1000ms 0s 1 fromTop;
}


#womanWithHeadphones {
  /* position: absolute; */
  /* margin: auto; */
  position: absolute;
  top: 721px;
  left: 50%;
  /* left: 75%; */
  transform: translate(-50%, -50%);
  padding: 10px;
}



.teamSummaries {
  z-index: 1;
  margin: 752px 0px 10px;
  padding: 40px 20px;
  text-align: center;
  text-wrap: balance;
  font-size: 20px;
  line-height: 2;
  font-family: "Quicksand", sans-serif;

  background-color: #9AD9DB;
  border-radius: 50px;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 10px;
  grid-auto-rows: minmax(75px, auto);
  grid-template-columns: 33% 33% 33%;
}

.grid__item {
  opacity: 0;
  margin: 30px 0px;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range-start: entry 100px;
  animation-range-end: 300px;
  background-color: #37667e;
  color: white;
  border-radius: 10px;
}
.teamSummaries > .grid__item {
  padding: 1em;
}
/* meet our team grid */
#one {
  background-color: transparent;
  color: rgb(88, 88, 88);
  grid-column: 1 / 4;
  grid-row: 1;
  margin: 0px;
}

#two {
  grid-column: 1 / 3;
  grid-row: 2;
}
#three {
  grid-column: 3;
  grid-row: 2;
}


#four {
  grid-column: 2 / 4;
  grid-row: 3;
}
#five {
  grid-column: 1;
  grid-row: 3;
}


#six {
  grid-column: 1 / 3;
  grid-row: 4;
}
#seven {
  grid-column: 3;
  grid-row: 4;
}

#eight {
  grid-column: 2 / 4;
  grid-row: 5;
}
#nine {
  grid-column: 1;
  grid-row: 5;
}


#ten {
  grid-column: 1 / 3;
  grid-row: 6;
}
#eleven {
  grid-column: 3;
  grid-row: 6;
}


#twelve {
  grid-column: 2/4;
  grid-row: 7;
}
#thirteen {
  grid-column: 1;
  grid-row: 7;
}
/* grid end */

.teamSummaries > div > img {
  width: 200px;
  object-fit:unset;
  border-radius: 5px;
  border-style: solid;
  object-fit: fill;
}

.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #218b82;
  width: 100%;
  scale: 0 1;
  transform-origin:left;

  animation: scroll-watcher linear;
  animation-timeline: scroll();
}
@keyframes scroll-watcher {
  to { scale: 1 1;}
}


@keyframes fade-in {
  from {scale: .8; opacity: 0;}
  to {scale: 1; opacity: 1;}
}

@media only screen and (min-width:1400px) {
  .teamSummaries {
    line-height: 3;
    font-size: x-large;
  }
  .teamSummaries > div > img {
    width: 350px;
  }
  .grid__item {
    margin: 10px 0px;
  }
}
@media only screen and (max-width:700px) {
  .teamSummaries {
    line-height: 1;
    font-size: medium;
  }
}


footer {
  position: absolute;
  right: 2px;
  bottom: 0px;
}
