/* This will set the theme for the pages throughout */
html {
    --primary-color: rgb(247, 244, 234);
    --primary-color-hover: #9AD9DB;

    --secondary-color: gray;
    --teritary-color: gray;
    --quaternary-color: gray;

}

body {
    background-color: var(--primary-color);
    position: relative;
}

/* Menu styling */
header {
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-family: 'Quicksand', sans-serif;
}

#logo {
    position: absolute;
    left: 5%;
}

nav ul, #interactionButtons {
    display: flex;
    align-items: center;
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

nav li {
    padding: 0 30px;
}

.logIn, .register {
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid white;
    background: linear-gradient(to left, white 50%, #218B8280 50%)right;
    transition: 750ms ease-in-out;
    background-size: 210%;
    width: 35mm; 
    height: 19mm;
}

.logIn:hover, .register:hover {
    cursor: pointer;
    background-position: left;
    color: white;
}

.registerBento {
    position: relative;
    top: 30%;
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid white;
    background: linear-gradient(to left, white 50%, #218B8280 50%)right;
    transition: 750ms ease-in-out;
    background-size: 210%;
    width: 35mm; 
    height: 19mm;
}

.register:hover, .registerBento:hover {
    cursor: pointer;
    background-position: left;
    color: white;
}

.signOut {
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid white;
    background: linear-gradient(to left, white 50%, #37667E80 50%)right;
    transition: 750ms ease-in-out;
    background-size: 210%;
    width: 35mm; 
    height: 19mm;
}

.signOut:hover {
    cursor: pointer;
    background-position: left;
    color: white; 
}

.menu:link {
    color: black;
    transition: 800ms;
}

.menu:visited {
    color: gray;
}

.menu:hover {
    color: var(--primary-color-hover);
}

.menu:hover::after {
    width: 100%;
    left: 0;
}

.menu:active {
    color: white;
    filter: brightness(150%);
}

/* Footer styling */
footer {
    font-family: "Quicksand", sans-serif;
    float: right;
    height: 35px;
    padding-right: 30px;
}

.tab {
    background-color: #37667e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1em;
}
.tab:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.special {
    background-color: #5db0da80;
}