/* This will set the theme for the pages throughout */
html {
    --primary-color: rgb(247, 244, 234);
    --primary-color-hover: #9AD9DB;

    --secondary-color: gray;
    --teritary-color: gray;
    --quaternary-color: gray;

}

body {
    background-color: var(--primary-color);
}

/* Menu styling */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}


nav ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
}


.menu {
    font-size: 18px;
    text-decoration: none;
}

.menu::after {
    content: '';
    position: relative;
    left: 50%;
    top: 5px;
    width: 0px;
    height: 1px;
    display: block;
    background: var(--primary-color-hover);
    transition: all 600ms;
}

.logIn {
    position: relative;
    left: 20%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    transition: 600ms;
}

/* This is all specifically for the log in and registration buttons */
.logIn:hover {
    color: var(--primary-color-hover);
}

.register {
    position: relative;
    left: 20%;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid white;
    /* box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2); */
    background: linear-gradient(to left, white 50%, #9AD9DB 50%)right;
    transition: 750ms ease-in-out;
    background-size: 200%;
    width: 28mm; 
    height: 12mm;

}

.register:hover {
    cursor: pointer;
    background-position: left;
    color: white;
}

.menu:link {
    color: black;
    transition: 800ms;
}

.menu:visited {
    color: gray;
}

.menu:hover {
    color: var(--primary-color-hover);
}

.menu:hover::after {
    width: 100%;
    left: 0;
}

.menu:active {
    color: white;
    filter: brightness(150%);
}

/* Footer styling */
footer {
    font-family: "Quicksand", sans-serif;
    position: absolute;
    bottom: 3%;
    right: 5%;
    padding-top: 20px;
    padding-left: 20px;
}
