html {
  --primary-color: rgb(247, 244, 234);
  --primary-color-hover: #9AD9DB;
    
  --secondary-color: gray;
  --teritary-color: gray;
  --quaternary-color: gray;
    
}

/* Bento Box spotlight welcome */
* {
    box-sizing: border-box;
}
.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.wrapper > div{
  font-family: "Quicksand";
  border: none;
  border-radius: 30px;
  background-color: white;
  padding: 2em;
  color: black;
  min-width: 100%;
  max-width: min-content;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4);
  gap: 20px;
  grid-auto-rows: minmax(120px, auto);
}

#bentoBox {
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
}

#one {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-color: #B6D8F280;
}
#two {
  grid-column: 1;
  grid-row: 3 / 5;
  background-color: #218B8270;
}
#three {
  grid-column: 2;
  grid-row: 3 / 5;
  background-color: #98D4BB80;
}
#four {
  grid-column: 3;
  grid-row: 1 / 5;
  background-color: #37667E80;
}

#taglineOne > ul { 
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  margin: 0;
  display: flex;
  font-size: 80px;
}

#chooseFile {
  cursor: pointer;
  position: relative;
    
}

  