/* Full-width input fields */
input[type=email], input[type=password] {
    font-family: "Quicksand";
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
}

input[type=email]:focus, input[type=password]:focus {
    background-color: rgba(211, 211, 211, .6);
    outline: none;
}

.loginBtn {
    font-family: "QuickSand", sans-serif;
    background-color: #9CC9B1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    position: relative;
    left: 0;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 25px;
    border-radius: 15px;
}


input[name="remember"], #remember {
    position: relative;
    left: 10%;
}

.container {
    padding: 16px;

}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Model (background) */
.loginModal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(245, 245, 245, .8);
}

/* Modal content */
.login-modal-content {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    background-color: white;
    margin: 15% auto;
    border: 2px solid #888;
    border-radius: 30px;
    width: 40%;
    height: 40%;
}

/* Close button (x) */
.close {
    position: relative;
    left: 94%;
    color: black;
    font-size: 40px;
    font-weight: bold;
} 

.close:hover,
.close:focus {
    color: darkgray;
    cursor: pointer;
}

/* Changing styles for a smaller screen */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}