/* Full-width input fields */
input[type=email], input[type=password] {
    font-family: "Quicksand";
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=email]:focus, input[type=password]:focus {
    background-color: rgba(211, 211, 211, .6);
    outline: none;
}

.loginBtn {
    font-family: "QuickSand", sans-serif;
    background-color: #9CC9B1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
    border-radius: 15px;
}

/* .loginCancel {
    width: auto;
    padding: 10px 20px;
    border-style: solid;
    background-color: #E35A3E;
} */

.container {
    padding: 16px;

}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Model (background) */
.loginModal {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    display: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 55%;
    overflow: auto;
    background-color: (0,0,0);
    background-color: rgba(247, 244, 234, .85);
    padding-top: 60 px;
    vertical-align: middle;
    border: 2px solid #888;
    border-radius: 30px;
}

/* Model content */
.login-model-content {
    background-color: white;
    margin: 15% auto;
    border: 1px solid #888;
    width: 75%;
}

/* Close button (x) */
.close {
    position: absolute;
    right: 20px;
    top: 0;
    color: black;
    font-size: 30px;
    font-weight: bold;
} 

.close:hover,
.close:focus {
    color: darkgray;
    cursor: pointer;
}

/* Changing styles for a smaller screen */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .loginCancel {
        width: 100%;
    }
}